@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.featured-organizers, .featured-event, .nearby-event, .recommended-event, .popular-event, .event-category, .banner, .footer__container, .header__navbar {
  max-width: 1246px;
  width: 100%;
  padding-inline: 15px;
  margin: 0 auto;
}

.featured-event__like-icon, .nearby-event__like-icon, .recommended-event__like-icon, .popular-event__like-icon {
  position: absolute;
  top: 86%;
  right: 4%;
  font-size: 20px;
  height: 40px;
  width: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #FFFFFF;
}
.featured-event__like-icon:hover, .nearby-event__like-icon:hover, .recommended-event__like-icon:hover, .popular-event__like-icon:hover {
  background-color: #ff053b;
  cursor: pointer;
}

.featured-organizers__line2, .featured-organizers__line1, .featured-event__line2, .featured-event__line1, .nearby-event__line2, .nearby-event__line1, .recommended-event__line2, .recommended-event__line1, .popular-event__line2, .popular-event__line1, .event-category__line2, .event-category__line1 {
  height: 4px !important;
  color: #fe7700;
  opacity: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container-fluid {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #fffdf8;
  padding: 0;
}

.header {
  background-color: #502274;
}
.header a {
  cursor: pointer;
}
.header__navbar-booket-icon {
  width: 32px;
  height: 50px;
}
.header__navbar-search-title {
  width: fit-content;
}
.header__navbar-search-date {
  color: #c8c7cc;
  width: 145px !important;
}
.header__navbar-search-date::placeholder {
  color: #c8c7cc;
}
.header__navbar-search-location {
  color: #c8c7cc;
  width: 170px;
}
.header__navbar-search-location::placeholder {
  color: #c8c7cc;
}
.header__navbar-search-looking {
  color: #c8c7cc;
  width: 250px;
}
.header__navbar-search-looking::placeholder {
  color: #c8c7cc;
}
.header__navbar-search-icon {
  background-color: #ff7f4b;
  width: 56px;
  height: 56px;
}
.header .bi-search::before {
  font-size: 22px;
  color: #FFFFFF;
}
.header .bi-heart::before {
  font-size: 28px;
  color: #FFFFFF;
}
.header .bi-bell::before {
  font-size: 28px;
  color: #FFFFFF;
}
.header__navbar-right-selector {
  background-color: #502274;
  border: none;
}
.header__navbar-right-selector:hover {
  cursor: pointer;
}

.footer {
  background-color: #502274;
  margin: 0;
}
.footer__booket-title {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.footer__booket-btn {
  background-color: #fe7700;
  border-style: none;
  font-weight: 600;
}
.footer__booket-btn:hover {
  background-color: #ff7f4b;
}
.footer__order-list {
  list-style-type: none;
}
.footer__links {
  color: #c8c7cc;
}
.footer__links:hover {
  color: #c8c7cc;
}
.footer .bi-geo-alt-fill::before {
  content: "\f3e7";
  color: #fe7700;
}
.footer .bi-envelope::before {
  content: "\f32f";
  color: #fe7700;
}
.footer .bi-telephone-fill::before {
  content: "\f5b4";
  color: #fe7700;
}

.banner .carousel-inner {
  border-radius: 8px;
}
.banner .carousel-indicators {
  width: auto;
  margin: 0;
}
.banner .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.banner .bi-arrow-left-circle::before {
  font-size: 40px;
}
.banner .bi-arrow-right-circle::before {
  font-size: 40px;
}

.event-category__title {
  color: #2f242c;
}
.event-category__view-all {
  color: #fe7700;
  font-weight: 600;
}
.event-category__view-all:hover {
  color: #ff7f4b;
}
.event-category__line1 {
  width: 48px;
}
.event-category__line2 {
  width: 24px;
}
.event-category__cards {
  background-color: #502274;
  width: 220px;
  max-width: 232px;
  height: 190px;
  max-height: 203px;
  padding: 24px 16px 16px 24px;
}
.event-category__description {
  font-size: 10px;
  font-weight: 400;
}
.event-category__section {
  width: 100%;
}
.event-category__event-img {
  width: 118px;
  height: 90px;
}
.event-category__arrow {
  background-color: #FFFFFF;
  color: #fe7700;
  height: 32px;
  width: 32px;
}
.event-category__arrow:hover {
  background-color: #fe7700;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .event-category__cards {
    flex-direction: row !important;
    max-width: 310px;
    height: 116px;
    flex-grow: 1;
    padding: 10px;
  }
  .event-category__card-body {
    width: 50%;
  }
  .event-category__description {
    margin-bottom: 0 !important;
  }
  .event-category__section {
    flex-direction: row-reverse;
    justify-content: normal !important;
  }
  .event-category__event-img {
    margin: 0 10px 0 0 !important;
  }
  .event-category__arrow {
    align-self: center;
  }
}
.popular-event__title {
  color: #2f242c;
}
.popular-event__view-all {
  color: #fe7700;
  font-weight: 600;
}
.popular-event__view-all:hover {
  color: #ff7f4b;
}
.popular-event__line1 {
  width: 48px;
}
.popular-event__line2 {
  width: 24px;
}
.popular-event__cards {
  width: 266px;
  max-width: 292px;
}
.popular-event__img-section {
  position: relative;
}
.popular-event__content-section {
  width: 204px;
}
.popular-event__sub-heading {
  color: #fe7700;
  font-size: 12px;
  font-weight: 600;
}
.popular-event__heading {
  color: #231000;
  font-size: 16px;
  font-weight: 600;
}
.popular-event__event-place {
  color: #787878;
  font-size: 12px;
  font-weight: 600;
}
.popular-event .bi-share::before {
  margin: 20px 20px 0 0;
  font-size: 24px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .popular-event__img-section {
    margin-bottom: 0 !important;
  }
  .popular-event__like-icon {
    top: 70%;
    right: 0;
    left: 91%;
  }
  .popular-event__cards {
    flex-direction: row;
    max-width: initial;
  }
  .popular-event__card-body {
    flex-direction: column;
    padding: 10px !important;
  }
  .popular-event__share-icon {
    align-self: flex-end;
  }
  .popular-event .bi-share::before {
    margin: 0;
  }
}
.recommended-event__title {
  color: #2f242c;
}
.recommended-event__view-all {
  color: #fe7700;
  font-weight: 600;
}
.recommended-event__view-all:hover {
  color: #ff7f4b;
}
.recommended-event__line1 {
  width: 48px;
}
.recommended-event__line2 {
  width: 24px;
}
.recommended-event__cards {
  width: 266px;
  max-width: 292px;
}
.recommended-event__img-section {
  position: relative;
}
.recommended-event__content-section {
  width: 208px;
}
.recommended-event__sub-heading {
  color: #fe7700;
  font-size: 12px;
  font-weight: 600;
}
.recommended-event__heading {
  color: #231000;
  font-size: 16px;
  font-weight: 600;
}
.recommended-event__event-place {
  color: #787878;
  font-size: 12px;
  font-weight: 600;
}
.recommended-event .bi-share::before {
  margin: 20px 20px 0 0;
  font-size: 24px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .recommended-event__img-section {
    margin-bottom: 0 !important;
  }
  .recommended-event__like-icon {
    top: 70%;
    right: 0;
    left: 91%;
  }
  .recommended-event__cards {
    flex-direction: row;
    max-width: initial;
  }
  .recommended-event__card-body {
    flex-direction: column;
    padding: 10px !important;
  }
  .recommended-event__share-icon {
    align-self: flex-end;
  }
  .recommended-event .bi-share::before {
    margin: 0;
  }
}
.nearby-event__title {
  color: #2f242c;
}
.nearby-event__view-all {
  color: #fe7700;
  font-weight: 600;
}
.nearby-event__view-all:hover {
  color: #ff7f4b;
}
.nearby-event__line1 {
  width: 48px;
}
.nearby-event__line2 {
  width: 24px;
}
.nearby-event__cards {
  width: 266px;
  max-width: 292px;
}
.nearby-event__img-section {
  position: relative;
}
.nearby-event__content-section {
  width: 208px;
}
.nearby-event__sub-heading {
  color: #fe7700;
  font-size: 12px;
  font-weight: 600;
}
.nearby-event__heading {
  color: #231000;
  font-size: 16px;
  font-weight: 600;
}
.nearby-event__event-place {
  color: #787878;
  font-size: 12px;
  font-weight: 600;
}
.nearby-event .bi-share::before {
  margin: 20px 20px 0 0;
  font-size: 24px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .nearby-event__img-section {
    margin-bottom: 0 !important;
  }
  .nearby-event__like-icon {
    top: 70%;
    right: 0;
    left: 91%;
  }
  .nearby-event__cards {
    flex-direction: row;
    max-width: initial;
  }
  .nearby-event__card-body {
    flex-direction: column;
    padding: 10px !important;
  }
  .nearby-event__share-icon {
    align-self: flex-end;
  }
  .nearby-event .bi-share::before {
    margin: 0;
  }
}
.featured-event__title {
  color: #2f242c;
}
.featured-event__view-all {
  color: #fe7700;
  font-weight: 600;
}
.featured-event__view-all:hover {
  color: #ff7f4b;
}
.featured-event__line1 {
  width: 48px;
}
.featured-event__line2 {
  width: 24px;
}
.featured-event__cards {
  width: 266px;
  max-width: 292px;
}
.featured-event__img-section {
  position: relative;
}
.featured-event__content-section {
  width: 208px;
}
.featured-event__sub-heading {
  color: #fe7700;
  font-size: 12px;
  font-weight: 600;
}
.featured-event__heading {
  color: #231000;
  font-size: 16px;
  font-weight: 600;
}
.featured-event__event-place {
  color: #787878;
  font-size: 12px;
}
.featured-event .bi-share::before {
  margin: 20px 20px 0 0;
  font-size: 24px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .featured-event__img-section {
    margin-bottom: 0 !important;
  }
  .featured-event__like-icon {
    top: 70%;
    right: 0;
    left: 91%;
  }
  .featured-event__cards {
    flex-direction: row;
    max-width: initial;
  }
  .featured-event__card-body {
    flex-direction: column;
    padding: 10px !important;
  }
  .featured-event__share-icon {
    align-self: flex-end;
  }
  .featured-event .bi-share::before {
    margin: 0;
  }
}
.featured-organizers__title {
  color: #2f242c;
}
.featured-organizers__view-all {
  color: #fe7700;
  font-weight: 600;
}
.featured-organizers__view-all:hover {
  color: #ff7f4b;
}
.featured-organizers__line1 {
  width: 48px;
}
.featured-organizers__line2 {
  width: 24px;
}
.featured-organizers__card {
  width: 220px;
  max-width: 300px;
  height: 344px;
  border-radius: 10px;
  padding: 13px 16px;
}
.featured-organizers__card-close-btn {
  font-size: 16px;
  color: #c8c7cc;
  background-color: transparent;
  border: none;
  padding: 0;
}
.featured-organizers__card-close-btn:hover {
  color: #2f242c;
}
.featured-organizers__card-img-bg-section {
  height: 56px;
  width: 56px;
  background-color: #eaeaea;
}
.featured-organizers__card-img {
  width: 56px;
  height: 56px;
}
.featured-organizers__card-booket-img {
  width: 22px;
  height: 32px;
  mix-blend-mode: luminosity;
}
.featured-organizers__card-title {
  font-size: 16px;
  color: #231000;
  font-weight: 600;
}
.featured-organizers__card-text {
  font-size: 14px;
  color: #96969B;
}
.featured-organizers__card-button {
  color: #fe7700;
  border-color: #fe7700;
  font-weight: 600;
}
.featured-organizers__card-button:hover {
  background-color: #fe7700;
  color: #FFFFFF;
}