.banner{
    @extend %container;

    .carousel-inner{
        border-radius: 8px;
    }

    .carousel-indicators{
        width: auto;
    }

    .carousel-indicators [data-bs-target]{
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    .bi-arrow-left-circle::before {
        font-size: 40px;
    }

    .bi-arrow-right-circle::before {
        font-size: 40px;
    }
}

.event-category{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
    }

    &__line1{
        border: $border-line-properties;
        width: 48px;
    }

    &__line2{
        border: $border-line-properties;
        width: 24px;
    }

    &__events{
        background-color: $bg-violet-color;
        width: 200px;
        &:nth-child(5){
            margin-right: 0;
        }
    }

    &__description{
        font-size: 10px;
        font-weight: 400;
    }

    &__section{
        width: 100%;
    }

    &__event-img{
        width: 118px;
        height: 90px;
    }

    &__arrow{
        background-color: $primary-color-white;
        color: $light-orange-color;
        height: 32px;
        width: 32px;
        &:hover{
            background-color: $light-orange-color;
            color: $primary-color-white;
            cursor: pointer;
        }
    }
}

.popular-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
    }

    &__line1{
        border: $border-line-properties;
        width: 48px;
    }

    &__line2{
        border: $border-line-properties;
        width: 24px;
    }

    &__events{
        width: 292px;
    }

    &__img-section{
        position: relative;
    }

    &__img{
        width: 292px;
        height: 184px;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 204px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
    }

    &__heading{
        color: $little-dark-black;
        font-size: 16px;
    }

    .bi-share::before {
        content: "\f52e";
        margin: 20px 20px 0 0;
        font-size: 24px;
    }

    &__event-place{
        font-size: 12px;
    }
}

.recommended-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
    }

    &__line1{
        border: $border-line-properties;
        width: 48px;
    }

    &__line2{
        border: $border-line-properties;
        width: 24px;
    }

    &__events{
        width: 292px;
    }

    &__img-section{
        position: relative;
        margin-bottom: 12px;
    }

    &__img{
        width: 292px;
        height: 184px;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 208px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
    }

    &__heading{
        color: #231000;
        font-size: 16px;
    }

    .bi-share::before {
        content: "\f52e";
        margin: 20px 20px 0 0;
        font-size: 24px;
    }

    &__event-place{
        font-size: 12px;
    }
}

.nearby-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
    }

    &__line1{
        border: $border-line-properties;
        width: 48px;
    }

    &__line2{
        border: $border-line-properties;
        width: 24px;
    }

    &__events{
        width: 292px;
    }

    &__img-section{
        position: relative;
    }

    &__img{
        width: 292px;
        height: 184px;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 208px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
    }

    &__heading{
        color: #231000;
        font-size: 16px;
    }

    .bi-share::before {
        content: "\f52e";
        margin: 20px 20px 0 0;
        font-size: 24px;
    }

    &__event-place{
        font-size: 12px;
    }
}

.featured-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
    }

    &__line1{
        border: $border-line-properties;
        width: 48px;
    }

    &__line2{
        border: $border-line-properties;
        width: 24px;
    }

    &__events{
        width: 292px;
    }

    &__img-section{
        position: relative;
    }

    &__img{
        width: 292px;
        height: 184px;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 208px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
    }

    &__heading{
        color: #231000;
        font-size: 16px;
    }

    .bi-share::before {
        content: "\f52e";
        margin: 20px 20px 0 0;
        font-size: 24px;
    }

    &__event-place{
        font-size: 12px;
    }
}

.featured-organizers{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
    }

    &__line1{
        border: $border-line-properties;
        width: 48px;
    }

    &__line2{
        border: $border-line-properties;
        width: 24px;
    }

    &__events{
        width: 232px;
    }

    &__cross-icon{
        align-self: flex-end;
        &:hover{
            cursor: pointer;
        }
    }

    .bi-x::before {
        font-size: 32px;
        color: $grey-muted-color;
        align-self: flex-end;
    }

    &__img{
        width: 56px;
        height: 56px;
    }

    &__card-name{
        font-size: 16px;
        color: $little-dark-black;
    }

    &__followers{
        font-size: 14px;
    }

    &__button{
        color: $light-orange-color;
        border-color: $light-orange-color;
        &:hover{
            background-color: $light-orange-color;
            color: $primary-color-white;
        }
    }

    &__img-section{
        height: 56px;
        width: 56px;
        background-color: $bg-grey-color;
    }
}