.banner{
    @extend %container;

    .carousel-inner{
        border-radius: 8px;
    }

    .carousel-indicators{
        width: auto;
        margin: 0;
    }

    .carousel-indicators [data-bs-target]{
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

    .bi-arrow-left-circle::before {
        font-size: 40px;
    }

    .bi-arrow-right-circle::before {
        font-size: 40px;
    }
}

.event-category{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
        &:hover{
            color: $bg-light-orange-color;
        }
    }

    &__line1{
        @extend %hr-line;
        width: 48px;
    }

    &__line2{
        @extend %hr-line;
        width: 24px;
    }

    &__cards{
        background-color: $bg-violet-color;
        width: 220px;
        max-width: 232px;
        height: 190px;
        max-height: 203px;
        padding: 24px 16px 16px 24px;
    }

    &__description{
        font-size: 10px;
        font-weight: 400;
    }

    &__section{
        width: 100%;
    }

    &__event-img{
        width: 118px;
        height: 90px;
    }

    &__arrow{
        background-color: $primary-color-white;
        color: $light-orange-color;
        height: 32px;
        width: 32px;
        &:hover{
            background-color: $light-orange-color;
            color: $primary-color-white;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:768px) and (min-width:576px) {
    .event-category{
        &__cards{
            flex-direction: row !important;
            max-width: 310px;
            height: 116px;
            flex-grow: 1;
            padding: 10px;
        }

        &__card-body{
            width: 50%;
        }

        &__description{
            margin-bottom: 0 !important;
        }

        &__section{
            flex-direction: row-reverse;
            justify-content: normal !important;
        }

        &__event-img{
            margin: 0 10px 0 0 !important;
        }

        &__arrow{
            align-self: center;
        }
    }
}

.popular-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
        &:hover{
            color: $bg-light-orange-color;
        }
    }

    &__line1{
        @extend %hr-line;
        width: 48px;
    }

    &__line2{
        @extend %hr-line;
        width: 24px;
    }

    &__cards{
        width: 266px;
        max-width: 292px;
    }

    &__img-section{
        position: relative;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 204px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
        font-weight: 600;
    }

    &__heading{
        color: $little-dark-black;
        font-size: 16px;
        font-weight: 600;
    }

    &__event-place{
        color: $grey-color;
        font-size: 12px;
        font-weight: 600;
    }

    .bi-share::before {
        margin: 20px 20px 0 0;
        font-size: 24px;
    }
}

@media screen and (min-width:320px) and (max-width:576px) {
    .popular-event{
        &__img-section{
            margin-bottom: 0 !important;
        }

        &__like-icon{
            top: 70%;
            right: 0;
            left: 91%;
        }

        &__cards{
            flex-direction: row;
            max-width: initial;
        }

        &__card-body{
            flex-direction: column;
            padding: 10px !important;
        }

        &__share-icon{
            align-self: flex-end;
        }

        .bi-share::before {
            margin: 0;
        }
    }
}

.recommended-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
        &:hover{
            color: $bg-light-orange-color;
        }
    }

    &__line1{
        @extend %hr-line;
        width: 48px;
    }

    &__line2{
        @extend %hr-line;
        width: 24px;
    }

    &__cards{
        width: 266px;
        max-width: 292px;
    }

    &__img-section{
        position: relative;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 208px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
        font-weight: 600;
    }

    &__heading{
        color: $little-dark-black;
        font-size: 16px;
        font-weight: 600;
    }

    &__event-place{
        color: $grey-color;
        font-size: 12px;
        font-weight: 600
    }

    .bi-share::before {
        margin: 20px 20px 0 0;
        font-size: 24px;
    }
}

@media screen and (min-width:320px) and (max-width:576px) {
    .recommended-event{
        &__img-section{
            margin-bottom: 0 !important;
        }

        &__like-icon{
            top: 70%;
            right: 0;
            left: 91%;
        }

        &__cards{
            flex-direction: row;
            max-width: initial;
        }

        &__card-body{
            flex-direction: column;
            padding: 10px !important;
        }

        &__share-icon{
            align-self: flex-end;
        }

        .bi-share::before {
            margin: 0;
        }
    }
}

.nearby-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
        &:hover{
            color: $bg-light-orange-color;
        }
    }

    &__line1{
        @extend %hr-line;
        width: 48px;
    }

    &__line2{
        @extend %hr-line;
        width: 24px;
    }

    &__cards{
        width: 266px;
        max-width: 292px;
    }

    &__img-section{
        position: relative;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 208px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
        font-weight: 600;
    }

    &__heading{
        color: $little-dark-black;
        font-size: 16px;
        font-weight: 600;
    }

    &__event-place{
        color: $grey-color;
        font-size: 12px;
        font-weight: 600;
    }

    .bi-share::before {
        margin: 20px 20px 0 0;
        font-size: 24px;
    }
}

@media screen and (min-width:320px) and (max-width:576px) {
    .nearby-event{
        &__img-section{
            margin-bottom: 0 !important;
        }

        &__like-icon{
            top: 70%;
            right: 0;
            left: 91%;
        }

        &__cards{
            flex-direction: row;
            max-width: initial;
        }

        &__card-body{
            flex-direction: column;
            padding: 10px !important;
        }

        &__share-icon{
            align-self: flex-end;
        }

        .bi-share::before {
            margin: 0;
        }
    }
}

.featured-event{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
        &:hover{
            color: $bg-light-orange-color;
        }
    }

    &__line1{
        @extend %hr-line;
        width: 48px;
    }

    &__line2{
        @extend %hr-line;
        width: 24px;
    }

    &__cards{
        width: 266px;
        max-width: 292px;
    }

    &__img-section{
        position: relative;
    }

    &__like-icon{
        @extend %like-icon;
    }

    &__content-section{
        width: 208px;
    }

    &__sub-heading{
        color: $light-orange-color;
        font-size: 12px;
        font-weight: 600;
    }

    &__heading{
        color: $little-dark-black;
        font-size: 16px;
        font-weight: 600;
    }

    &__event-place{
        color: $grey-color;
        font-size: 12px;
    }

    .bi-share::before {
        margin: 20px 20px 0 0;
        font-size: 24px;
    }
}

@media screen and (min-width:320px) and (max-width:576px) {
    .featured-event{
        &__img-section{
            margin-bottom: 0 !important;
        }

        &__like-icon{
            top: 70%;
            right: 0;
            left: 91%;
        }

        &__cards{
            flex-direction: row;
            max-width: initial;
        }

        &__card-body{
            flex-direction: column;
            padding: 10px !important;
        }

        &__share-icon{
            align-self: flex-end;
        }

        .bi-share::before {
            margin: 0;
        }
    }
}

.featured-organizers{
    @extend %container;

    &__title{
        color: $dark-black;
    }

    &__view-all{
        color: $light-orange-color;
        font-weight: 600;
        &:hover{
            color: $bg-light-orange-color;
        }
    }

    &__line1{
        @extend %hr-line;
        width: 48px;
    }

    &__line2{
        @extend %hr-line;
        width: 24px;
    }

    &__card{
        width: 220px;
        max-width: 300px;
        height: 344px;
        border-radius: 10px;
        padding: 13px 16px;
    }

    &__card-close-btn{
        font-size: 16px;
        color: $light-grey-color;
        background-color: transparent;
        border: none;
        padding: 0;
        &:hover{
            color: $dark-black;
        }
    }

    &__card-img-bg-section{
        height: 56px;
        width: 56px;
        background-color: $bg-grey-color;
    }

    &__card-img{
        width: 56px;
        height: 56px;
    }

    &__card-booket-img{
        width: 22px;
        height: 32px;
        mix-blend-mode: luminosity;
    }

    &__card-title{
        font-size: 16px;
        color: $little-dark-black;
        font-weight: 600;
    }

    &__card-text{
        font-size: 14px;
        color: $dark-grey-color;
    }

    &__card-button{
        color: $light-orange-color;
        border-color: $light-orange-color;
        font-weight: 600;
        &:hover{
            background-color: $light-orange-color;
            color: $primary-color-white;
        }
    }
}