.footer{
    background-color: #502274;
    margin: 0;

    &__container{
        @extend %container;
    }

    &__booket-title{
        font-size: 16px;
        font-weight: 600;
        color: $primary-color-white;
    }

    &__booket-btn{
        background-color: $light-orange-color;
        &:hover{
            background-color: $bg-light-orange-color;
        }
    }

    &__order-list{
        list-style-type: none;
    }

    &__links{
        color: $grey-muted-color;
        &:hover{
            color: $grey-muted-color;
        }
    }

    .bi-geo-alt-fill::before {
        content: "\f3e7";
        color: $light-orange-color;
    }

    .bi-envelope::before {
        content: "\f32f";
        color: $light-orange-color;
    }

    .bi-telephone-fill::before {
        content: "\f5b4";
        color: $light-orange-color;
    }
}