.header{
    background-color: $bg-violet-color;

    a{
        cursor: pointer;
    }

    &__navbar{
        @extend %container;
    }

    &__navbar-booket-icon{
        width: 32px;
        height: 50px;
    }

    &__navbar-search-title{
        width: fit-content;
    }

    &__navbar-search-date{
        color: $light-grey-color;
        width: 145px !important;
        &::placeholder{
            color: $light-grey-color;
        }
    }

    &__navbar-search-location{
        color: $light-grey-color;
        width: 170px;
        &::placeholder{
            color: $light-grey-color;
        }
    }

    &__navbar-search-looking{
        color: $light-grey-color;
        width: 250px;
        &::placeholder{
            color: $light-grey-color;
        }
    }

    &__navbar-search-icon{
        background-color: $bg-light-orange-color;
        width: 56px;
        height: 56px;
    }

    .bi-search::before {
        font-size: 22px;
        color: $primary-color-white;
    }

    .bi-heart::before {
        font-size: 28px;
        color: $primary-color-white;
    }

    .bi-bell::before {
        font-size: 28px;
        color: $primary-color-white;
    }

    &__navbar-right-selector{
        background-color: $bg-violet-color;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
}