%container {
    max-width: 1246px;
    width: 100%;
    padding-inline: 15px;
    margin: 0 auto;
}

%like-icon{
    position: absolute;
    top: 86%;
    right: 4%;
    font-size: 20px;
    height: 40px;
    width: 40px;
    box-shadow: $box-shadow-properties;
    background-color: $primary-color-white;
    &:hover{
        background-color: $bg-red-color;
        cursor: pointer;
    }
}

%hr-line{
    height: 4px !important;
    color: $light-orange-color;
    opacity: 1;
}