$primary-color-white: #FFFFFF;
$light-grey-color: #8a8a8f;
$dark-black: #2f242c;
$little-dark-black: #231000;
$light-orange-color: #fe7700;
$grey-muted-color:#c8c7cc;

$bg-violet-color: #502274;
$bg-light-orange-color: #ff7f4b;
$bg-red-color: #ff053b;
$bg-grey-color:#eaeaea;

$box-shadow-properties: 0 3px 6px rgb(0 0 0 / 16%);
$border-line-properties: 2px solid $light-orange-color;